<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Neat Website</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="http://zwibbler.com/zwibbler-demo.js"></script> 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Totally did this by myself</h3>
        </div>

            <div id="zwibbler1" style="width:800px;height:500px"></div>
        <script>
           var ctx = Zwibbler.create("zwibbler1", {});
        </script> 
    </div>
 

</body>
 
</html>